nav {
  top: 0;
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1300px;
}
nav ul {
  color: white;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  flex-direction: co;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul .logo {
  max-width: 80px;
  display: flex;
}
nav ul .logo img {
  width: 100%;
  object-fit: contain;
}

nav ul .search {
  margin-left: 2rem;
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
}
nav ul .search .input {
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 15px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}

nav ul .search .input input {
  text-align: center;
  width: 100%;
  color: white;
  background: none;
  border-style: none;
  border: none;
  outline-style: none;
  border-radius: 15px;
}
nav ul .search .input input:focus {
  border: 2px solid var(--gold);
}

nav ul .search .list {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll;

  width: 100%;
  border: 5px solid white;

  color: black;
  position: absolute;
  top: 40px;

  max-height: 200px;
}
nav .user-link {
  color: black;
}
.user-link {
  width: 100%;
  color: white;
  text-transform: capitalize;
  display: flex;
  padding: 0.4rem;
  gap: 0.5rem;
  align-items: center;
}
.user-link .avatar {
  border: white 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.user-link img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
nav ul .search .list .user-link:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
nav ul .search .list .match {
  padding: 0.4rem;
}

nav ul .user-new-post {
  width: 15%;

  display: flex;
  justify-content: space-around;
  padding: 0.5rem;

  gap: 1rem;
}
.user-new-post .user {

  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-new-post .user .img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.user-new-post .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.user-new-post .user .dropdown {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  top: 110%;
  position: absolute;
}
.user-new-post .user .dropdown button {
  border: none;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  background: none;
}
nav ul .user-new-post .icon {
  height: 25px;
}
.user-new-post a {
  color: white;
}

@media (max-width: 550px) {
  nav ul .search {
    margin-left: 0;
  }
}
