.edit-post {
    max-width: 1000px;
  }
  
  .edit-post .input {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  /* fix */
  .edit-post label {
    font-size: 1.5rem;
  }
  .edit-post .title-input input {
    width: 70;
    outline: none;
    border-style: none;
    background: none;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
    font-size: 1rem;
  }
  #image-file {
    width: 100%;
    border-bottom: 2px solid white;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #image-file:focus {
    border-bottom: 2px solid var(--gold);
  }
  #image-file .filename {
    width: 90%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2rem;
  
    padding: 0.2rem 0.8rem;
  }
  #image-file .filename span {
    cursor: pointer;
  }
  
  .image-div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .image-div .image-input {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px dashed var(--gold);
  }
  .image-div .image-input .img-selected {
    padding: 0.5rem;
  
    width: 100%;
    object-fit: contain;
  }
  .image-div .avatar {
    width: 30px;
    height: 30px;
  }
  .image-div .horizontal {
    border: 1px solid white;
  
    width: 180px;
    height: 100px;
  }
  .image-div .vertical {
    border: 1px solid white;
  
    width: 150px;
    height: 150px;
  }
  .image-div .square{
    border: 1px solid white;
  
    width: 150px;
    height: 150px;
  }
  #previous {
    color: white;
    font-size: 0.7rem;
  }
  .image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .body-input {
    width: 100%;
  }
  
  .body-input textarea {
    width: 100%;
    background: none;
    color: white;
    outline-style: none;
    border-style: none;
    padding: 0.5rem;
    border: 2px solid white;
  }
  